!/ax_*.m4
/*.m4/00gnulib.m4
/codeset.m4
/extern-inline.m4
/fcntl-o.m4
/gettext.m4
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/iconv.m4
/intdiv0.m4
/intl.m4
/intldir.m4
/intlmacosx.m4
/intmax.m4
/inttypes_h.m4
/inttypes-pri.m4
/lcmessage.m4
/lib-ld.m4
/lib-link.m4
/lib-prefix.m4
/libtool.m4
/lock.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/nls.m4
/po.m4
/printf-posix.m4
/progtest.m4
/size_max.m4
/stdint_h.m4
/threadlib.m4
/visibility.m4
/xsize.m4
/wchar_t.m4
/wint_t.m4
/zzgnulib.m4
/00gnulib.m4
/largefile.m4
/absolute-header.m4
/errno_h.m4
/extensions.m4
/hostent.m4
/include_next.m4
/msvc-inval.m4
/msvc-nothrow.m4
/off_t.m4
/pid_t.m4
/socketlib.m4
/sockets.m4
/socklen.m4
/sockpfaf.m4
/ssize_t.m4
/stdalign.m4
/stddef_h.m4
/sys_socket_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/unistd_h.m4
/warn-on-use.m4
/manywarnings-c++.m4
/manywarnings.m4
/warnings.m4
/locale_h.m4
/alloca.m4
/assert_h.m4
/atomic-cas.m4
/c-bool.m4
/dup2.m4
/gettimeofday.m4
/limits-h.m4
/multiarch.m4
/nanosleep.m4
/pselect.m4
/pthread-cond.m4
/pthread-mutex.m4
/pthread-once.m4
/pthread-rwlock.m4
/pthread-spin.m4
/pthread-thread.m4
/pthread-tss.m4
/pthread_h.m4
/pthread_mutex_timedlock.m4
/pthread_sigmask.m4
/raise.m4
/sched_h.m4
/select.m4
/signal_h.m4
/signalblocking.m4
/std-gnu11.m4
/stdint.m4
/sys_select_h.m4
/sys_time_h.m4
/time_h.m4
/chdir-long.m4
/close.m4
/closedir.m4
/d-ino.m4
/dirent_h.m4
/dirfd.m4
/double-slash-root.m4
/dup.m4
/eealloc.m4
/error.m4
/error_h.m4
/fchdir.m4
/fcntl.m4
/fcntl_h.m4
/fdopendir.m4
/filenamecat.m4
/free.m4
/fstat.m4
/fstatat.m4
/getcwd-abort-bug.m4
/getcwd-path-max.m4
/getcwd.m4
/getdtablesize.m4
/getpagesize.m4
/getprogname.m4
/inttypes.m4
/locale-fr.m4
/lstat.m4
/malloc.m4
/malloca.m4
/memchr.m4
/mempcpy.m4
/memrchr.m4
/mmap-anon.m4
/mode_t.m4
/musl.m4
/open-cloexec.m4
/open-slash.m4
/open.m4
/openat.m4
/opendir.m4
/pathmax.m4
/pipe.m4
/readdir.m4
/realloc.m4
/rewinddir.m4
/save-cwd.m4
/stat-time.m4
/stat.m4
/stdio_h.m4
/stdlib_h.m4
/strdup.m4
/strerror.m4
/string_h.m4
/sys_stat_h.m4
/unistd-safer.m4
/vararrays.m4
/wchar_h.m4
/calloc.m4
/exponentd.m4
/float_h.m4
/intmax_t.m4
/locale-ja.m4
/locale-zh.m4
/math_h.m4
/mbrtowc.m4
/mbstate_t.m4
/minmax.m4
/printf.m4
/reallocarray.m4
/stdarg.m4
/vasnprintf.m4
/vasprintf.m4
/xalloc.m4
/xvasprintf.m4
