!/ax_*.m4
/*.m4/00gnulib.m4
/codeset.m4
/extern-inline.m4
/fcntl-o.m4
/gettext.m4
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/iconv.m4
/intdiv0.m4
/intl.m4
/intldir.m4
/intlmacosx.m4
/intmax.m4
/inttypes-pri.m4
/lcmessage.m4
/lib-ld.m4
/lib-link.m4
/lib-prefix.m4
/libtool.m4
/lock.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/nls.m4
/po.m4
/printf-posix.m4
/progtest.m4
/threadlib.m4
/visibility.m4
/wchar_t.m4
/wint_t.m4
/zzgnulib.m4
/00gnulib.m4
/largefile.m4
/absolute-header.m4
/errno_h.m4
/extensions.m4
/hostent.m4
/include_next.m4
/msvc-inval.m4
/msvc-nothrow.m4
/off_t.m4
/pid_t.m4
/socketlib.m4
/sockets.m4
/socklen.m4
/sockpfaf.m4
/ssize_t.m4
/stdalign.m4
/stddef_h.m4
/sys_socket_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/unistd_h.m4
/warn-on-use.m4
/manywarnings-c++.m4
/manywarnings.m4
/warnings.m4
/locale_h.m4
/alloca.m4
/assert_h.m4
/atomic-cas.m4
/c-bool.m4
/dup2.m4
/gettimeofday.m4
/limits-h.m4
/multiarch.m4
/nanosleep.m4
/pselect.m4
/pthread-cond.m4
/pthread-mutex.m4
/pthread-once.m4
/pthread-rwlock.m4
/pthread-spin.m4
/pthread-thread.m4
/pthread-tss.m4
/pthread_h.m4
/pthread_mutex_timedlock.m4
/pthread_sigmask.m4
/raise.m4
/sched_h.m4
/select.m4
/signal_h.m4
/signalblocking.m4
/std-gnu11.m4
/stdint.m4
/sys_select_h.m4
/sys_time_h.m4
/time_h.m4
