<!DOCTYPE kpartgui>
<kpartgui name="kpsion">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="fullbackup"/>
      <Action name="incbackup"/>
      <Action name="restore"/>
      <Action name="format"/>
    </Menu>
  </MenuBar>
  <ToolBar fullWidth="true" name="mainToolBar">
    <Action name="fullbackup"/>
    <Action name="restore"/>
  </ToolBar>
</kpartgui>
