ACTION=="add", SUBSYSTEMS=="usb-serial", DRIVERS=="pl2303", RUN+="/etc/init.d/plptools start"
ACTION=="remove", SUBSYSTEM=="usb-serial", RUN+="/etc/init.d/plptools stop"
