autoreconf.after
autoreconf.before
files
plptools-dev.debhelper.log
plptools-dev.substvars
plptools-dev/
plptools.debhelper.log
plptools.postinst.debhelper
plptools.postrm.debhelper
plptools.prerm.debhelper
plptools.substvars
plptools/
tmp/
tmpnone/
