Source: plptools
Build-Depends: debhelper (>= 5), automake1.7, autoconf, libtool, gettext, libncurses5-dev, libreadline5-dev, kdoc, po-debconf
Section: otherosfs
Priority: optional
Maintainer: John Lines <john@paladin.demon.co.uk>
Standards-Version: 3.6.2.0

Package: plptools
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}
Suggests: portmap
Description: Access a Psion PDA over a serial link 
 This package lets you access EPOC devices' drives over a serial link.
 You can mount them NFS-style, access them FTP-style, and use a local 
 printer from the remote device (EPOC32 only).
 .
 Homepage: http://plptools.sourceforge.net/

Package: libplpc2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends},${misc:Depends}
Replaces: plptools (<=0.14-4)
Description: Library functions for plptools EPOC PDA access functions
 This library provides the internal APIs used by the plptools programs
 which are used to access a EPOC PDA from a Unix system

Package: plptools-dev
Architecture: any
Section: devel
Depends: libplpc2a (= ${Source-Version})
Description: plptools (development files)
 This package provides a static library, headers and API documentation
 for plptools development. You need these files if you want to build
 programs which use libplp.
