#! /bin/sh

set -e
# Use debconf baby
. /usr/share/debconf/confmodule

db_input medium plptools/ncpd/start || true
db_go
db_get plptools/ncpd/start
if [ "$RET" = "true" ] ; then
	db_input medium plptools/ncpd/serial || true
	db_go
	db_input medium plptools/ncpd/listenat || true
	db_go
	db_get plptools/ncpd/listenat
	SEENREM=false
	case "$RET" in
		0.0.0.0)
			;;
		127.0.0.1)
			;;
		0.0.0.0:7501)
			;;
		127.0.0.1:7501)
			;;
		*)
			SEENREM=true
			db_set plptools/frontends/remoteaddr "$RET"
	esac
	db_fset plptools/frontends/remoteaddr seen $SEENREM
else
	db_fset plptools/frontends/remoteaddr seen false
fi

db_input medium plptools/plpfuse/start || true
db_go

db_input medium plptools/plpprintd/start || true
db_go
db_get plptools/plpprintd/start
if [ "$RET" = "true" ] ; then
	db_input medium plptools/plpprintd/printqueue || true
	db_go
fi

db_get plptools/ncpd/start
if [ "$RET" = "false" ] ; then
	db_input medium plptools/frontends/remoteaddr || true
	db_go
fi

exit 0
