#!/usr/bin/make -f

DEB_CONFIGURE_EXTRA_FLAGS = --with-serial=/dev/ttyS0

tmp = $(shell pwd)/debian/tmp

%:
	dh $@ --with autoreconf

override_dh_auto_install:
	dh_auto_install
	install -T -D -m 644 debian/plptools.conf $(tmp)/etc/default/plptools
	dh_install

override_dh_clean:
	dh_clean
	debconf-updatepo

# %.1: %.1.in
# 	MANDATE=`grep CHECKIN $< | awk '{print $$4}'` ; \
# 	sed -e "s%@MANDATE@%$$MANDATE%g" $< > $@
