[Desktop Entry]
Name=Psion Clipboard Utility
Name[de]=Auschneiden/Einfügen: Psion
Exec=klipsi
Icon=klipsi
Type=Application
DocPath=klipsi/index.html
Terminal=0
X-KDE-autostart-after=panel
